<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <form name="form" (ngSubmit)="onSubmit()" novalidate #f="ngForm">
        <div class="card">
          <div class="card-header">
            <strong>ATM</strong>
            <small>Form</small>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="nama">ID ATM</label>
                  <input type="text" class="form-control" id="name" placeholder="ID ATM" name="name" [(ngModel)]="atm.name" required #name="ngModel">
                  <div *ngIf="name.errors && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required"><small class="text-danger">Harap Isi ID ATM</small></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="level">Denominasi</label>
                  <input type="number" class="form-control" id="denomination" placeholder="0" name="denomination" [(ngModel)]="atm.denomination" required #denomination="ngModel">
                  <div class="invalid-feedback">
                    Please provide a valid informations.
                  </div>
                  <div *ngIf="denomination.errors && (denomination.dirty || denomination.touched)">
                    <div *ngIf="denomination.errors.required"><small class="text-danger">Harap Isi Denominasi ATM</small></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label for="level">Serial Number</label>
                  <input type="number" class="form-control" id="serialNumber" placeholder="0" name="serialNumber" [(ngModel)]="atm.serialNumber" required #serialNumber="ngModel">
                  <div class="invalid-feedback">
                    Please provide a valid informations.
                  </div>
                  <div *ngIf="serialNumber.errors && (serialNumber.dirty || serialNumber.touched)">
                    <div *ngIf="serialNumber.errors.required"><small class="text-danger">Harap Isi Serial Number ATM</small></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="address">Alamat</label>
                  <input type="text" class="form-control" id="address" placeholder="Alamat" name="address" [(ngModel)]="atm.address" required #address="ngModel">
                  <div *ngIf="address.errors && (address.dirty || address.touched)">
                    <div *ngIf="address.errors.required"><small class="text-danger">Harap Isi Alamat ATM</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <input type="hidden" id="id" name="id" [(ngModel)]="atm.id" />
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid"><i class="fa fa-dot-circle-o"></i> Simpan</button>
            <button routerLink="/iteb/atm" type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Batal</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
