<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <strong style="font-size: 28pt">Pegawai</strong>
                            <small>Daftar</small>
                        </div>
                        <div class="col-lg-8 col-md-8 col-xs-12">
                            <form class="form-inline" (ngSubmit)="find()">
                                <div class="form-group">
                                    <button class="form-control btn btn-primary btn-lg" type="button" routerLink="/admin/pegawai/e"><i class="icon-plus"></i></button>
                                    <input type="text" id="cari" name="cari" class="form-control" placeholder="Cari.."  [(ngModel)]="cari" style="height: 44px;">
                                    <button class="form-control btn btn-primary btn-lg" type="submit"><i class="icon-magnifier"></i></button>
                                    <button class="form-control btn btn-primary btn-lg" type="button" id="refresh" (click)="dapatkanSemua()"><i class="icon-refresh"></i></button>
                                    <button class="form-control btn btn-default btn-lg" type="button"><i class="icon-printer"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama</th>
                                <th>No. Register</th>
                                <th>Jabatan</th>
                                <th>Kantor</th>
                                <th>Pengguna</th>
                                <th>Username System</th>
                                <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pegawai of pegawais">
                                <td>{{pegawai.nama}}</td>
                                <td>{{pegawai.nomorRegister}}</td>
                                <td>{{pegawai.jabatan.nama}}</td>
                                <td>{{pegawai.kantorDivisi.nama}}</td>
                                <td>{{pegawai.pengguna.username}}</td>
                                <td>
                                    <div *ngFor = "let user of pegawai.username">
                                        {{user.nama}} &nbsp;
                                    </div>
                                </td>
                                <td>
                                    <button (click)="edit(pegawai.id)" class="btn btn-primary"><i class="icon-wrench"></i></button>
                                    <button class="btn btn-danger" data-toggle="modal" (click)="modalHapus.show(); setIdHapus(pegawai.id)"><i class="icon-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #modalHapus="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Hapus</h5>
            </div>
            <div class="modal-body">
              Apakah Anda Yakin Ingin Menghapus Data Ini ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalHapus.hide()">Tidak</button>
                <button type="button" class="btn btn-danger" (click)="hapus(); modalHapus.hide()">Ya, Hapus</button>
              </div>
        </div>
    </div>
</div> -->
