<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Pegawai
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/pegawai" class="btn btn-primary">Masuk</a>
                </div>           
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Jabatan
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/jabatan" class="btn btn-primary">Masuk</a>
                </div>           
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
                <div class="card">
                    <div class="card-body">
                        Unit
                    </div>
                    <div class="card-footer">
                        <a routerLink="/admin/unit" class="btn btn-primary">Masuk</a>
                    </div>           
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                    <div class="card">
                        <div class="card-body">
                            Kegiatan Pokok
                        </div>
                        <div class="card-footer">
                            <a routerLink="/admin/kegiatan" class="btn btn-primary">Masuk</a>
                        </div>           
                    </div>
                </div>
    </div>
</div>
        