<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">Wilayah</div>
                    <div class="card-footer">
                        <a routerLink="/admin/wilayah" class="btn btn-primary">Masuk</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="card">
                    <div class="card-body">
                        Kantor - Divisi
                    </div>
                    <div class="card-footer">
                        <a routerLink="/admin/kantor" class="btn btn-primary">Masuk</a>
                    </div>
                </div>
            </div>
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Pegawai
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/pegawai" class="btn btn-primary">Masuk</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Jabatan
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/jabatan" class="btn btn-primary">Masuk</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Pengguna
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/pengguna" class="btn btn-primary">Masuk</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    Username
                </div>
                <div class="card-footer">
                    <a routerLink="/admin/username" class="btn btn-primary">Masuk</a>
                </div>
            </div>
        </div>
    </div>
</div>
         -->
