<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <strong style="font-size: 28pt">Pengguna</strong>
                            <small>Daftar</small>
                        </div>
                        <div class="col-lg-4 col-md-4 text-right">
                            <button class="btn btn-primary btn-lg" routerLink="/admin/pengguna/e"><i class="icon-plus"></i></button>
                            <button class="btn btn-primary btn-lg" id="refresh" (click)="dapatkanSemua()"><i class="icon-refresh"></i></button>
                            <button class="btn btn-default btn-lg"><i class="icon-printer"></i></button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Enabled</th>
                                <th>Expired</th>
                                <th>Locked</th>
                                <th>Credential Exp.</th>
                                <th>*</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let pengguna of penggunas">
                                <td>{{pengguna.username}}</td>
                                <td >
                                    <input class="form-check-input" style="width: 25px; height: 25px;" name="enabled" id="cb{{pengguna.id}}" type="checkbox" [checked]="pengguna.enabled" disabled>
                                </td>
                                <td>
                                    <input class="form-check-input" style="width: 25px; height: 25px;" type="checkbox" [checked]="pengguna.accountExpired" value="false" disabled>
                                </td>
                                <td>
                                    <input class="form-check-input" style="width: 25px; height: 25px;" type="checkbox" [checked]="pengguna.accountLocked" disabled>
                                </td>
                                <td>
                                    <input class="form-check-input" style="width: 25px; height: 25px;" type="checkbox" [checked]="pengguna.credentialsExpired" disabled>
                                </td>
                                <td>
                                    <button title="Edit Pengguna" (click)="edit(pengguna.id)" class="btn btn-primary"><i class="icon-wrench"></i></button>
                                    <button title="Reset Password" class="btn btn-default" data-toggle="modal" (click)="modalResetPassword.show(); setIdReset(pengguna.id)"><i class="icon-reload"></i></button>
                                    <button title="Hapus Pengguna" class="btn btn-danger" data-toggle="modal" (click)="modalHapus.show(); setIdHapus(pengguna.id)"><i class="icon-trash"></i></button>
                                    
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>
</div>

<div bsModal #modalHapus="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Hapus</h5>
            </div>
            <div class="modal-body">
              Apakah Anda Yakin Ingin Menghapus Data Ini ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalHapus.hide()">Tidak</button>
                <button type="button" class="btn btn-danger" (click)="hapus(); modalHapus.hide()">Ya, Hapus</button>
              </div>
        </div>
    </div>
</div>

<div bsModal #modalResetPassword="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Konfirmasi Reset Password</h5>
            </div>
            <div class="modal-body">
              Password untuk User ini akan di-reset menjadi <strong>"123456"</strong>, lanjut reset ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalResetPassword.hide()">Tidak</button>
                <button type="button" class="btn btn-danger" (click)="resetPassword(); modalResetPassword.hide()">Ya, Reset</button>
              </div>
        </div>
    </div>
</div>