<!-- <div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form name="form" (ngSubmit)="onSubmit()" novalidate #f="ngForm">
            <div class="card">
                <div class="card-header">
                    <strong>Pengguna</strong>
                    <small>Form</small>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" name="username" [(ngModel)]="pengguna.username" required #username="ngModel" minlength="5" maxlength="16"                     >
                                <div  *ngIf="username.errors && (username.dirty || username.touched)" >
                                    <div *ngIf="username.errors.required"><small class="text-danger">Harap Isi Username</small></div>
                                    <div *ngIf="username.errors.minlength"><small class="text-danger">Isi Username lebih dari 5 karakter</small></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <label for="otoritas">Otoritas</label>
                            <ng-select [items]="otoritas" [hideSelected]="true" [multiple]="true" [(ngModel)]="pengguna.authorities" bindLabel="nama"
                                clearAllText="Clear" name="otoritas" required>
                             </ng-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="pengguna.password" required #password="ngModel" validateEqual="passwordKonfirmasi" reverse="true" minlength="6">
                                <div  *ngIf="password.errors && (password.dirty || password.touched)" >
                                    <div *ngIf="password.errors.required"><small class="text-danger">Harap Isi Password</small></div>
                                    <div *ngIf="password.errors.minlength"><small class="text-danger">Isi Password lebih dari 6 karakter</small></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label for="password">Konfirmasi Password</label>
                                <input type="password" class="form-control" id="passwordKonfirmasi" name="passwordKonfirmasi" [(ngModel)]="pengguna.passwordKonfirmasi" required #passwordKonfirmasi="ngModel" validateEqual="password" reverse="false" minlength="6">
                                <div  *ngIf="passwordKonfirmasi.errors && (passwordKonfirmasi.dirty || passwordKonfirmasi.touched)" >
                                    <div *ngIf="passwordKonfirmasi.errors.required"><small class="text-danger">Harap Isi Konfirmasi Password</small></div>
                                    <div *ngIf="passwordKonfirmasi.errors.minlength"><small class="text-danger">Isi Password lebih dari 6 karakter</small></div>
                                </div>
                                <small [hidden]="passwordKonfirmasi.valid || (passwordKonfirmasi.pristine && !f.submitted)" class="text-danger">
                                    Password Tidak Sama
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-3">
                            <label for="enable">Enable</label>
                            <input type="checkbox" class="form-control" id="enabled" name="enabled" [(ngModel)]="pengguna.enabled" #enabled="ngModel"/>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <label for="expired">Expired</label>
                            <input type="checkbox" class="form-control" id="accountExpired" name="accountExpired" [(ngModel)]="pengguna.accountExpired" #accountExpired="ngModel"/>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <label for="locked">Locked</label>
                            <input type="checkbox" class="form-control" id="accountLocked" name="accountLocked" [(ngModel)]="pengguna.accountLocked" #accountLocked="ngModel"/>
                        </div>
                        <div class="col-sm-3 col-md-3">
                            <label for="credential">Credential Expired</label>
                            <input type="checkbox" class="form-control" id="credentialsExpired" name="credentialsExpired" [(ngModel)]="pengguna.credentialsExpired" #credentialsExpired="ngModel"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="hidden" id="id" name="id" [(ngModel)]="pengguna.id" />
                    <button type="submit" class="btn btn-primary" [disabled]="f.invalid"><i class="fa fa-dot-circle-o"></i> Simpan</button>
                    <button routerLink="/admin/pengguna" type="reset" class="btn btn-danger"><i class="fa fa-ban"></i> Batal</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div> -->
